body {
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	
	width: 1280px;

	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;	
	color: #333333;
	text-transform: uppercase;

	/*opacity:0.4;*/

	background-color: #f2f2f2;
}

* {
	outline: 1px solid rgba(255, 0 , 0, 1);
}

a {
	text-decoration: none;	
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {	
	position: relative;
	color: black;
	font-weight: bold;
	line-height: 26px;	

	background-color: #ffffff;
}

.site-navigation,
.footer-social,
.site-navigation li {
	padding: 0;
	margin: 0;
	list-style: none;	
}

.link-style {
	color: black;
}


.site-navigation a:focus,
.main-footer a:focus,
.site-navigation a:hover,
.main-footer a:hover {
	color: #81b3d2;
}

.site-navigation a:active,
.main-footer a:active {
		color: rgba(0, 0, 0, 0.3);
}

.greeting {
	background-image: url("../img/photo-canyon.jpg");
	background-position: 0 -83px;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	
	background-color: #ddebf4;
}
.greeting:after {
	position: absolute;
	display: block;
	content: "";
	width: 1202px;
	height: 91px;
	background-image: url("../img/polygon-mask.png");
	background-position: -1px 16px;
	background-repeat: no-repeat;
	background-size: 100%;
	
}


.features{
	background-color: #ffffff;
	text-align: center;
}

.features b{
	font-size: 21px;
	line-height: 26px;
	color: black;
	margin-bottom: 26px;
}

.features b+p {
	line-height: 26px;
	margin: 0;
	margin-bottom: 50px;
}

.search {
	background-color: #ffffff;
	text-align: center;
}

.search b {
	display: block;
	padding-top: 48px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 36px;
	color: black;	
}

.search b+p {
	padding: 0;
	margin: 0;
	margin-bottom:48px;
	line-height: 24px;
}


.search-form-button {
	width: 568px;
	height: 86px;
	padding: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	border: none;

	background-color: #766357;
}


.search-form-button:focus,
.search-form-button:hover {
	background-color: #604e43;
}

.search-form-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-form-modal {
	display: none;
}

/*.search-map {
	background-image: url(../img/map.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100%;
}*/

.main-footer {	
	min-height: 120px;
	background-color: #ffffff;
}

.main-footer a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social li{
	display: inline-block;
}

.footer-social a {
	display: block;
	width: 46px;
	height: 48px;
	font-size: 0px;
	
	background-color: #81b3d2;	
}


.footer-social a:focus,
.footer-social a:hover {
	background-color: #669ec0;
}

.footer-social a:active {
	background-color: #5496bd;
}

a.twitter {
	background-image: url(../img/icon-tw.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.facebook {
	background-image: url(../img/icon-fb.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.youtube {
	background-image: url(../img/icon-yt.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.footer-copyright span {	
	line-height: 24px;	
	color: black;
}

.footer-copyright p {
	padding: 0;
	margin: 0;
}

/*Далее идёт стилизация внутренней страницы*/

.main-navigation-current a {
	color: #766357;
}

.hotels-filter {	
	background-image: url(../img/filter-background.jpg);
	background-position: 0 -150px;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #ffffff;

	background-color: #333333;
}

.hotels-filter ul,
.hotels-list ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;	
}

.filters fieldset {
	border: none;
}

.filters legend {
font-size: 16px;
font-weight: 700;
line-height: 21px;
}

.filters input,
.submit-button {
	text-align: center;
	color: #ffffff;
	border: 2px solid white;
	border-radius: 2px;

	background-color: rgba(0, 0, 0, 0);
}
.submit-button:hover {
	color: black;
	background-color: #ffffff;
}

.hotels-list {
	background-color: #ffffff;
}

.hotels-list h3 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.btn {
	font-weight: bold;
	color: #ffffff;

	background-color: #333333;
}

.detail {
	background-color: #81b3d2;
}

.detail:focus,
.detail:hover {
	background-color: #669ec0;
}

.detail:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.book {
	background-color: #766357;
}

.book:focus,
.book:hover {
	background-color: #604e43;
}

.book:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotel-page:focus,
.hotel-page:hover {
	color: #81b3d2;
}

.hotel-page:active {
	color: rgba(0, 0, 0, 0.3);
}

.ranking-block {
	display: inline;
	color: #666666;
	padding: 5px 13px 6px 16px;
	background-color: #f2f2f2;
}

/*Далее идут сеточные стили*/



.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.site-navigation li {	
		width: 130px;
		margin-top: 14px;
		margin-bottom: 16px;
}

.site-navigation li:first-child {	
		margin-left: 72px; 
}

.site-navigation li:nth-child(2) {	
		margin-left: 110px;
		margin-right: auto;
}

.site-navigation li:nth-child(3) {	
		margin-right: 110px;
		margin-left: auto;
		text-align: right;
}

.site-navigation li:last-child {	
		margin-right: 72px;
		text-align: right;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
}

.greeting {
	min-height: 509px;
}

.greeting img {
	padding-top: 76px;

}

.features b {
	display: block;
	padding-top: 60px;
}

.features-items {
	min-height: 1098px;
}


/*.search-map {
	min-height: 473px;
}*/

.main-footer {
	display: flex;
	min-height: 120px;
	justify-content: space-around;
	align-items: center;
}

.footer-copyright {
	display: flex;
	align-items: center;
}

/*Сеточные стили внутренней страницы*/

.hotels-filter {
	min-height: 217px;
}

.filters {	
	display: flex;
	justify-content: space-between;
}
.filters fieldset {
	padding: 0;
	margin-top: 25px;
	min-height: 170px;

}

.filters fieldset:nth-child(1){
	width: 250px;
}

.filters fieldset:nth-child(2) {
	width: 250px;
	margin-right: auto;
}
.filters fieldset:nth-child(3) {
	width: 330px;
}

.hotel-ranking {
	width: 150px;
	margin-top: 30px;	
}

.hotels-list {
	min-height: 540px;
}

.list-sort {
	min-height: 86px;
}

.hotels-list ul {
	display: flex;
	flex-direction: column;	
}

.hotels-list li {
	display: flex;
	justify-content: space-between;
	min-height: 150px;

}

.hotel-data {
	position: relative;
	outline: 2px solid blue;
	width: 550px;
}

.text-wrap {		
	width: 365px;
	min-height: 90px;
	padding-left: 170px;
	margin-top: 30px;
}

.left-group {
	display: inline-block;
	width: 115px;
	min-height: 65px;
	outline: 1px solid green;	
}

.right-group {
	display: inline-block;
	width: 150px;
	min-height: 65px;
	outline: 1px solid green;
}

.hotels-list h3,
.hotels-list p {
	padding: 0;
	margin: 0;
}

.hotel-data img {
	position: absolute;
	top: 30px;
}

.relativ-footer {
	position: relative;
	opacity: 0.9;
	bottom: 125px;

}

.container-second {
	outline: 2px solid orange;
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
}

/*body {
 * Временно для сетки *
  background-image: url('../img/sedona-index-maket.jpg');
  background-size: 1280px auto;
  background-repeat: no-repeat;
} 
*/